/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
	position: relative;
	padding: 0 0 25px 0;
	margin: 0;
	*zoom: 1;
}
.bx-wrapper img {
	max-width: 100%;
	display: block;
}
.bx-wrapper ul {
	padding: 0;
	margin: 0;
}
/** THEME
===================================*/
.bx-wrapper .bx-viewport {
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* PAGER */
.bx-wrapper .bx-pager {
	text-align: center;
	color: #666;
	bottom: -10px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #444;
	border: 2px solid #444;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: transparent;
}

.parallax-background .bx-wrapper .bx-pager.bx-default-pager a, .section.alternate.color .bx-wrapper .bx-pager.bx-default-pager a, .section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #fff;
	border: 2px solid #fff;
}
.parallax-background .bx-wrapper .bx-pager.bx-default-pager a:hover, .section.alternate.color .bx-wrapper .bx-pager.bx-default-pager a:hover, .section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a:hover {
	border: 2px solid #444;
	background-color: #444;
}
.section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a:hover {
}
.parallax-background .bx-wrapper .bx-pager.bx-default-pager a.active, .section.alternate.color .bx-wrapper .bx-pager.bx-default-pager a.active, .section.alternate.dark .bx-wrapper .bx-pager.bx-default-pager a.active {
	border: 2px solid #fff;
	background-color: transparent;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
	right: 26px;
	background: url(../images/sprite.png) no-repeat scroll -4px -174px rgba(0, 0, 0, 0.4);
}
.bx-wrapper .bx-next {
	right: 0;
	background: url(../images/sprite.png) no-repeat scroll -40px -174px rgba(0, 0, 0, 0.4);
}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover {
}

.bx-wrapper .bx-controls-direction {
	position: absolute;
	top: -20px;
	width: 100%;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	bottom: 0;
	outline: 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	z-index: 999;
	border-radius: 2px 2px 2px 2px;
}
.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}


